<div class="" style="margin:40px 40px 40px 40px; min-height: 600px;">
    							<div class="card flex-fill">
    								<div class="card-header">
    
    									<h5 class="card-title mb-0">PRODUCT LIST</h5>
    								</div>
    								<table class="table table-hover my-0">
    									<thead>
    										<tr>
    											<th>Name</th>
    											<th class="d-none d-xl-table-cell">Category</th>
												<th class="d-none d-xl-table-cell">Price</th>
												<th class="d-none d-xl-table-cell">Description</th>
												<th class="d-none d-xl-table-cell">Expiry date</th>
												<th class="d-none d-xl-table-cell">Quantity</th>
												<th class="d-none d-xl-table-cell">Total Number</th>
												<th class="d-none d-xl-table-cell">Rating</th>
    											<th class="d-none d-md-table-cell">Image</th>
												<th class="d-none d-md-table-cell">Edit</th>
												<th class="d-none d-md-table-cell">Delete</th>
    										</tr>
    									</thead>
    									<tbody>
											{{#each products}}
    										<tr>
    											<td>{{this.name}}</td>
    											<td class="d-none d-xl-table-cell">{{this.category}}</td>
												<td class="d-none d-xl-table-cell">{{this.price}}</td>
												<td class="d-none d-xl-table-cell">{{this.description}}</td>
												<td class="d-none d-xl-table-cell">{{this.expdate}}</td>
												<td class="d-none d-xl-table-cell">{{this.quantity}}</td>
												<td class="d-none d-xl-table-cell">{{this.totalnumber}}</td>
												<td class="d-none d-xl-table-cell">{{this.star}}</td>
												<td><img style="width:50px;height:50px" src='/product-images/{{this.imagename}}'></td>
                                                <td style="width: 1rem;">
                                                <a href="/admin/editproduct/{{this._id}}" class="btn btn-primary">Edit</a></td>
                                                <td>
                                                <a href="/admin/deleteproduct/{{this._id}}" class="btn btn-danger" onclick="return confirm('are you sure? {{this.name}}')">Delete</a>
                                                </td>
    										</tr>
											{{/each}}
							
    										
    									</tbody>
    								</table>
    							</div>
    						</div>