<style>
    
h2 {
  margin-bottom:0px;
  margin-top:25px;
  text-align:center;
  font-weight:200;
  font-size:19px;
  font-size:1.2rem;
  
}
.container {
  height:100%;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align:center;
  -webkit-align-items:center;
      -ms-flex-align:center;
          align-items:center;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  background: white;
}
.dropdown-select.visible {
  display:block;
}
.dropdown {
  position:relative;
}
ul {
  margin:0;
  padding:0;
}
ul li {
  list-style:none;
  padding-left:10px;
  cursor:pointer;
}
ul li:hover {
  background:rgba(255,255,255,0.1);
}
.dropdown-select {
  position:absolute;
  background:#77aaee;
  text-align:left;
  box-shadow:0px 3px 5px 0px rgba(0,0,0,0.1);
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
  width:90%;
  left:2px;
  line-height:2em;
  margin-top:2px;
  box-sizing:border-box;
}
.thin {
  font-weight:400;
}
.small {
  font-size:12px;
  font-size:.8rem;
}
.half-input-table {
  border-collapse:collapse;
  width:100%;
}
.half-input-table td:first-of-type {
  border-right:10px solid #a1237d;
  width:50%;
}
.window {
  height:540px;
  width:800px;
  background:#fff;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.2);
  border-radius:30px;
  z-index:10;
  font-size: 2rem;
}
.order-info {
  height:100%;
  width:50%;
  padding-left:25px;
  padding-right:25px;
  box-sizing:border-box;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
      -ms-flex-pack:center;
          justify-content:center;
  position:relative;
}
.price {
  bottom:0px;
  position:absolute;
  right:0px;
  color:#a1237d;
}
.order-table td:first-of-type {
  width:25%;
}
.order-table {
    position:relative;
}
.line {
  height:1px;
  width:100%;
  margin-top:10px;
  margin-bottom:10px;
  background:#ddd;
}
.order-table td:last-of-type {
  vertical-align:top;
  padding-left:25px;
}
.order-info-content {
  table-layout:fixed;

}

.full-width {
  width:100%;
}
.pay-btn {
  border:none;
  background:#22b877;
  line-height:2em;
  border-radius:10px;
  font-size:19px;
  font-size:1.2rem;
  color:#fff;
  cursor:pointer;
  position:absolute;
  bottom:25px;
  width:calc(100% - 50px);
  -webkit-transition:all .2s ease;
          transition:all .2s ease;
}
.pay-btn:hover {
  background:#22a877;
    color:#eee;
  -webkit-transition:all .2s ease;
          transition:all .2s ease;
}

.total {
  margin-top:25px;
  font-size:20px;
  bottom:5px;
  right:27px;
  left:35px;
}
.dense {
  line-height:1.2em;
  font-size:16px;
  font-size:1rem;
}
.input-field {
  background:rgba(255,255,255,0.1);
  margin-bottom:10px;
  margin-top:3px;
  line-height:1.5em;
  font-size:20px;
  font-size:1.3rem;
  border:none;
  padding:5px 10px 5px 10px;
  color:#fff;
  box-sizing:border-box;
  width:100%;
  margin-left:auto;
  margin-right:auto;
}
.credit-info {
  font-size: 1.3rem;;
  background:#a1237d;
  height:100%;
  width:50%;
  color:#eee;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
      -ms-flex-pack:center;
          justify-content:center;
  font-size:14px;
  font-size:.9rem;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  box-sizing:border-box;
  padding-left:25px;
  padding-right:25px;
  border-top-right-radius:30px;
  border-bottom-right-radius:30px;
  position:relative;
}
.dropdown-btn {
  background:rgba(255,255,255,0.1);
  width:100%;
  border-radius:5px;
  text-align:center;
  line-height:1.5em;
  cursor:pointer;
  position:relative;
  -webkit-transition:background .2s ease;
          transition:background .2s ease;
}
.dropdown-btn:after {
  content: '\25BE';
  right:8px;
  position:absolute;
}
.dropdown-btn:hover {
  background:rgba(255,255,255,0.2);
  -webkit-transition:background .2s ease;
          transition:background .2s ease;
}
.dropdown-select {
  display:none;
}
.credit-card-image {
  display:block;
  height: 120px;
  width: 130px;
  margin-left:auto;
  margin-right:auto;
  margin-top:35px;
  margin-bottom:15px;
}
.credit-info-content {
  font-size: 1.3rem;;
  margin-top:25px;
  -webkit-flex-flow:column;
      -ms-flex-flow:column;
          flex-flow:column;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  width:100%;
}
@media (max-width: 600px) {
  .window {
    width: 100%;
    height: 100%;
    display:block;
    border-radius:0px;
  }
  .order-info {
    width:100%;
    height:auto;
    padding-bottom:100px;
    border-radius:0px;
  }
  .credit-info {
    width:100%;
    height:auto;
    padding-bottom:100px;
    border-radius:0px;
  }
  .pay-btn {
    border-radius:0px;
  }
}
</style>
<div class='container'>
  <div class='window'>
    <div class='order-info' style="overflow-y:scroll ; height:500px">
      <div class='order-info-content'>
        <h2 style="font-size:2rem ;">Order Summary</h2>
        <div class='line'></div>
        {{#each cartproduct}}
        <table class='order-table'>
          <tbody>
            <tr>
              <td><img src="/product-images/{{this.product.imagename}}" class='full-width'></img>
              </td>
              <td>
                <br> <span class='thin'>{{this.product.name}}</span>
                <br> Free Run 3.0 Women<br> <span class='thin small'> quantity: {{this.quantity}}<br><br></span>
              </td>

            </tr>
            <tr>
              <td>
                <div class='price'>₹{{this.product.price}}</div>
              </td>
            </tr>
          </tbody>

        </table>
        <div class='line'></div>
        {{/each}}
       
        <div class='total'>
          <span style='float:left;'>
            
            TOTAL
          </span>
          <span style='float:right; text-align:right;'>
            {{totalvalue}}
          </span>
        </div>
</div>
</div>
        <div class='credit-info'>
          <div class='credit-info-content'>
            <form action="" id="paid">
            <table class='half-input-table'>
              <tr><td>select payment mode : </td><td><div class='dropdown' id='card-dropdown'><div class='dropdown-btn' id='current-card'>online</div>
                <div class='dropdown-select'>
                <ul>
                  <li>cod</li>
                  </ul></div>
                </div>
               </td></tr>
            </table>
            <img src='images/online.png' height='80' class='credit-card-image' id='credit-card-image'></img>
            Address
            <input name="address" id="address" class='input-field' required></input>
            Mobile Number
            <input name="mobileno" class='input-field' id="mobile" type="tel" pattern="[0-9]{3} [0-9]{3} [0-9]{4}" maxlength="10" required></input>
            <table class='half-input-table'>
              <tr>
                <td> Pincode
                  <input name="pincode" id="pincode" class='input-field' required></input>
                </td>
              </tr>
            </table>
            <button id="paidbtn" type="submit" class='pay-btn'>Checkout</button>
            </form>
          </div>

        </div>
      </div>
</div>

<script>
    var cardDrop = document.getElementById('card-dropdown');
var activeDropdown;
cardDrop.addEventListener('click',function(){
  var node;
  for (var i = 0; i < this.childNodes.length-1; i++)
    node = this.childNodes[i];
    if (node.className === 'dropdown-select') {
      node.classList.add('visible');
       activeDropdown = node; 
    };
})

window.onclick = function(e) {
  console.log(e.target.tagName)
  console.log('dropdown');
  console.log(activeDropdown)
  if (e.target.tagName === 'LI' && activeDropdown){
    if (e.target.innerHTML === 'cod') {
      document.getElementById('credit-card-image').src = 'images/cash-delivery.png';
          activeDropdown.classList.remove('visible');
      activeDropdown = null;
      e.target.innerHTML = document.getElementById('current-card').innerHTML;
      document.getElementById('current-card').innerHTML = 'cod';
    }
    else if (e.target.innerHTML === 'American Express') {
         document.getElementById('credit-card-image').src = 'https://dl.dropboxusercontent.com/s/f5hyn6u05ktql8d/amex-icon-6902.png';
          activeDropdown.classList.remove('visible');
      activeDropdown = null;
      e.target.innerHTML = document.getElementById('current-card').innerHTML;
      document.getElementById('current-card').innerHTML = 'American Express';      
    }
    else if (e.target.innerHTML === 'online') {
         document.getElementById('credit-card-image').src = 'images/online.png';
          activeDropdown.classList.remove('visible');
      activeDropdown = null;
      e.target.innerHTML = document.getElementById('current-card').innerHTML;
      document.getElementById('current-card').innerHTML = 'online';
    }
  }
  else if (e.target.className !== 'dropdown-btn' && activeDropdown) {
    activeDropdown.classList.remove('visible');
    activeDropdown = null;
  }
}

</script>
<script>
  
          $('#paidbtn').click(function(e) {
              e.preventDefault()
              let mobile = document.getElementById("mobile").value
              let address = document.getElementById("address").value
              let pincode = document.getElementById("pincode").value
              if(address.length==0 || pincode.length==0){
                alert("Input Box Is Empty")
              }
              else if(mobile.length!=10){
                alert("Mobile Number Is Notcorrect")
              }
              else{
                   let payload=$('#paid').serialize()
              console.log(payload)
              let mode = document.getElementById("current-card").innerHTML
              payload+=`&mode=${mode}`
               $.ajax({
                url:"/checkout",
                method:'post',
                data:payload,
                success:(response)=>{
                  console.log(response)
                if(response.codsuccess){
                  swal("Order Placed Succesfully", "", "success", {
                            button: {text:'vieworders',className:'sweet-warning'},
                            }).then(()=>{
                                location.href='/vieworders'
                            })
                } 
                else{
                  razropayment(response)
                }     
            }
            })
              }
              
           
            })

              function razropayment(order){
        var options = {
    "key": "rzp_test_medNgSuUAPYuLf", // Enter the Key ID generated from the Dashboard
    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Brand X",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
       
        verifypayment(response,order)
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#83b735"
    }
};
     var rzp1 = new Razorpay(options);
     rzp1.open();
    }
    function verifypayment(payment,order){
        $.ajax({
            url:'/verify-payment',
            data:{
                payment,
                order
            },
            method:'post',
            success:(response)=>{
                if(response.status){
                    location.href='/vieworders'
                }else{
                    alert("payment failed")
                }
            }
        })
    }

           
        
            </script>